<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <%= title %>
      <a href="/" class="header-button">Back to Home</a>
  </header>

  <div id="form-div">
    <form action="/:<%= user.getID() %>/update" method="post" id="create-user-form" class="buttons">
      <div class="input-field">
        <label for="id">ID:</label>
        <input type="number" placeholder="Enter ID" name="id" id="id" value="<%= user.getID() %>">
      </div>

      <div class="input-field">
        <label for="firstName">First name: </label>
        <input type="text" placeholder="Enter First Name" name="firstName" id="firstName"
          value="<%= user.getFirstName() %>">
      </div>

      <div class="input-field">
        <label for="lastName">Last name: </label>
        <input type="text" placeholder="Enter Last Name" name="lastName" id="lastName"
          value="<%= user.getLastName() %>">
      </div>

      <button id="form-submit-button" type="submit">Submit</button>
    </form>
</body>

</html>